html,body{ 
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* body{
  font:normal 75% Arial, Helvetica, sans-serif;
} */

canvas{
  display:block;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front-modal {
  display: inline-block;
  position: relative;
}

.front-modal h1 {
  display: inline-flex;
  font-family: 'Source Sans Pro', sans-serif;
}

.particle-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -100px;
  bottom: -100px;
  z-index: -1;
}

.helloiam {
  text-align: center;
  margin: auto;
  opacity: 0;
  color: whitesmoke;
}

footer {
  position: flex;
  z-index: 1;
  color: white;
}

.footer-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -250px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 250px;
  background: rgb(32, 36, 47);
  padding: 20px;
}
