html,body{ 
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* body{
  font:normal 75% Arial, Helvetica, sans-serif;
} */

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.centered-modal {
  margin-right: 50%;
  margin-left: 50%;
}

h1 {
  display: inline-flex;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front-modal {
  display: block;
}

.particle-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -100px;
  bottom: -100px;
  z-index: -1;
}

.hello {
  display: block;
}

.i-am {
  display: block;
}