.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill:lightslategrey;
  stroke: #e3e3e3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  text-align: center;
  background:lightblue;
  border: 0;
  border-radius: 10px;
}
/* #scatter {
  background-image: url("../img/graph.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
} */

text.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

text.inactive {
  font-weight: lighter;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

text.inactive:hover {
  cursor: pointer;
  font-weight: bolder;
  transition: fill 0.3s ease-out;
}

circle:hover {
  /* opacity: 1; */
  fill: lightblue;
  transition: fill 0.2s ease-in;
}

circle {
  transition: fill 0.5s ease-out;
}

#charttitle {
  font-weight: bolder;
};

text.statetext {
  font-family: sans-serif;
  fill: #fff;
};

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
