html,
body,
#map-id {
  height: 100%;
  padding-top: 20px;
  margin: 0;
}


.legend {
  padding: 5px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color:white;
  background-color: slategray;
  border-radius: 5px;
  padding-bottom: 40px;
}

.legend .zeroOne {
  color: lightgreen;
}

.legend .oneTwo {
  color: darkgreen;
}

.legend .twoThree {
  color: yellow;
}

.legend .threeFour {
  color: orange;
}

.legend .fourFive {
  color: orangered;
}

.legend .fivePlus {
  color: red;
}
